[submodule "frontend"]
	path = frontend
	url = https://github.com/gmrodrigues/OoozeReports-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/gmrodrigues/OoozeReports-backend.git
